@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Homeee";
}
<div class="row">
	<div class="col-md-12">
		<h1>Welcome</h1>
		<a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">
			My Trips
		</a>
	</div>
</div>
	<div>&copy; The World</div>
